* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}
}

body {
	min-height: 100dvh;
}

.header {
	display: flex;
	align-items: center;

	height: 150px;
	padding-inline: 10%;

	--header-color: rgb(102, 13, 90);

	font-size: 1.5rem;
	font-family: Baloo, sans-serif;
	background-image: linear-gradient(
		to right,
		var(--header-color) 10%,
		color-mix(in oklab, var(--header-color) 90%, white 10%),
		var(--header-color) 90%
	);

	.nav {
		display: flex;
		gap: 80px;
		align-items: center;

		margin-right: auto;

		.logo {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.logo:hover {
			.logo-icon {
				border-bottom: 2px solid;
			}

			.logo-text {
				text-decoration: underline;
			}
		}

		.nav__link {
			text-decoration: none;
		}

		.nav__link.active,
		.nav__link:hover {
			position: relative;
		}

		.nav__link:hover::after {
			content: '';
			position: absolute;
			top: calc(100%);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: oklch(100% 0 100);
			animation: underlineIn 0.2s ease backwards;
		}

		.nav__link.active::after {
			content: '';
			position: absolute;
			top: calc(100%);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: oklch(100% 0 100);
			width: 100%;
		}
	}
}

@keyframes underlineIn {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
