@font-face {
	font-family: 'Baloo';
	font-display: fallback;
	src: url('/fonts/baloo/baloo-regular.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}
}

body {
	min-height: 100dvh;
}

html {
	--root-hr-height: 2px;
	--root-header-height: 100px;
	--root-footer-height: 50px;
	--header-footer-background: linear-gradient(to right, #141e30, #243b55);
}

.header {
	display: flex;
	align-items: center;

	height: var(--root-header-height);
	padding-inline: 10%;

	font-size: 1.5rem;
	font-family: Baloo, sans-serif;
	background-image: var(--header-footer-background);

	.nav {
		display: flex;
		gap: 80px;
		align-items: center;

		margin-right: auto;

		.logo {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.logo:hover {
			.logo-icon {
				border-bottom: 2px solid;
			}

			.logo-text {
				text-decoration: underline;
			}
		}

		.nav__link {
			text-decoration: none;
		}

		.nav__link.active,
		.nav__link:hover {
			position: relative;
		}

		.nav__link:hover::after {
			content: '';
			position: absolute;
			top: calc(100%);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: oklch(100% 0 100);
			animation: underlineIn 0.2s ease backwards;
		}

		.nav__link.active::after {
			content: '';
			position: absolute;
			top: calc(100%);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: oklch(100% 0 100);
			width: 100%;
		}
	}
}

@keyframes underlineIn {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.footer {
	height: var(--root-footer-height);

	background-image: var(--header-footer-background);
}

.hr {
	height: var(--root-hr-height);

	border-color: black;
}
